*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to top, #ffce1bc0 50%, #ff891b94 50%);
}

html {
    font-size: 16px;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option {
    background: #fff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 10vmin;
    color: #c3200ea2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#restart {  
    font-size: 1.3em;
    padding: 1em;
    border: none;
    border-radius: 8px;
    background-color: #0a0027;
    color: #fff;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    cursor: pointer;
    transition: 0.4s;
}

#restart:active {
    transform: translateY(8px);
}

.popup {
    background: linear-gradient(135deg, #ffce1bc0, #ff891b94);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
}

#new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #fff;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

#new-game:active {
    transform: translateY(10px);
}

#message {
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.popup.hide {
    display: none;
}